$divider-color      : $body-color !default;

$divider-margin  : 50px !default;
$divider-padding : $divider-margin !default;

$divider-title-fontSize       : $font-size-h1 !default;
$divider-title-margin-mobile  : 0 0 $divider-margin !default;
$divider-title-margin-desktop : 2rem 0 0 !default;
$divider-title-align          : center !default;

$divider-hr-color  : $body-color !default;
$divider-hr-width  : 1px !default;
$divider-hr-margin : $divider-margin !default;

$divider-background-position   : center center !default;
$divider-background-repeat     : no-repeat !default;
$divider-background-size       : cover !default;
$divider-background-attachment : fixed !default;


// scss-lint:disable QualifyingElement
div.divider {
	position: relative;
	background-position: $divider-background-position;
	background-repeat: $divider-background-repeat;
	background-size: $divider-background-size;
	background-attachment: $divider-background-attachment;
	padding-top: $divider-padding / 2;
	padding-bottom: $divider-padding / 2;
	margin-top: $divider-margin / 2;
	margin-bottom: $divider-margin / 2;

	@include media-breakpoint-up(sm) {
		padding-top: $divider-padding;
		padding-bottom: $divider-padding;
		margin-top: $divider-margin;
		margin-bottom: $divider-margin;
	}

	&,
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $divider-color;
	}

	.divider-title {
		font-size: $divider-title-fontSize;
		margin: $divider-title-margin-mobile;
		text-align: $divider-title-align;

		@include media-breakpoint-up(xs) {
			font-size: 2rem;
		}

		@include media-breakpoint-up(md) {
			margin: $divider-title-margin-desktop;
		}
	}
}


hr.divider {
	border-color: $divider-hr-color;
	border-width: $divider-hr-width;
	margin-top: $divider-hr-margin;
	margin-bottom: $divider-hr-margin;
}
